body {
  font-family: "Fira Sans", sans-serif;
  background-color: #f2f3f6;
  font-size: 16px;
  color: #111238;
  margin: 0;
}
.menu {
  list-style: none;
  padding: 0;
  margin: 0;
}
.menu-item:not(:last-child) {
  margin-right: 20px;
}
.menu-link {
  color: #111238;
  text-decoration: none;
}
.button {
  text-decoration: none;
}
.button-link {
  color: #111238;
  padding: 10px;
  margin-right: 30px;
}
.button-primary {
  background: #1a75e8;
  border-radius: 5px;
  padding: 15px 30px;
}
